<div class="row mb-2">
  <div class="container">
    <ul class="nav nav-underline">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="clientes">Clientes</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLinkActive="active" routerLink="fornecedores">Fornecedores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="contas-bancarias">Contas Bancárias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="unidades">Unidades</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="produtos">Produtos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="departamentos">Departamentos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="cartoes">Cartões</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="tipo-pagamento-recebimento">Tipo
          Pagamento/Recebimento</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="plano-contas">Plano Contas</a>
      </li>
    </ul>
  </div>
</div>

<div class="p-5 mb-4 border">
  <router-outlet></router-outlet>
</div>
